In [8]:
import numpy as np
from sklearn.datasets import fetch_openml
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_auc_score
from sklearn import metrics
from sklearn.linear_model import SGDRegressor
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
import pandas as pd
from os import listdir
from os.path import isfile, join

In [11]:
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.svm import SVC

In [6]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import tensorflow as tf
from keras.preprocessing.image import load_img
from keras.models import Sequential, Model
from keras.layers import Dense, Conv2D, Dropout, Flatten, MaxPooling2D, Input

In [3]:
from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras.preprocessing.image import load_img
from tensorflow.keras.preprocessing.image import array_to_img
from tensorflow.keras.preprocessing.image import img_to_array
import os
import cv2

In [7]:
mypath = "/content/drive/MyDrive/crop_part1"
#mypath = "C:/Users/User/Desktop/CUNY/Faces_img/cropped.tar/cropped/crop_part1"

In [10]:
filenames = np.array([f for f in listdir(mypath) if isfile(join(mypath, f))])
splitcolumns = [x.split('_')[0:3] + [x] for x in filenames if x.count('_') == 3]
filecolumns = ['age','gender','race','file']
filedf = pd.DataFrame(data = splitcolumns, columns = filecolumns)
filedfnona = filedf.dropna()
filedfnona['age']  = filedfnona['age'].astype(int)
filedfnona['race'] = filedfnona['race'].astype(int)
filedfnona['gender'] = filedfnona['gender'].astype(int)

In [46]:
filedfnona.head()

   age  gender  race                                  file
0    3       1     0  3_1_0_20170109191833465.jpg.chip.jpg
1    3       1     0  3_1_0_20170109191958848.jpg.chip.jpg
2    3       1     0  3_1_0_20170109192006973.jpg.chip.jpg
3    3       1     0  3_1_0_20170109192027975.jpg.chip.jpg
4    3       1     0  3_1_0_20170109192130439.jpg.chip.jpg

In [33]:
images = []
age = []
gender = []
race = []
for index, row in filedfnona.iterrows():
    img = np.array(cv2.imread(row[3]))
    images.append(img)
    age.append([row[0]])
    gender.append([row[1]])
    age.append([row[2]])

In [31]:
X_img =np.array(filedfnona['file'])

In [32]:
X_scaled = X_img/ 255.0

TypeError: ignored

In [36]:
X = np.array(images)
y_age = np.array(age).astype(int)
y_gender = np.array(gender).astype(int)
y_race = np.array(race).astype(int)

In [44]:
y_age.dtype

dtype('int64')

In [37]:
#gender
X_train, X_test, y_train, y_test = train_test_split(X, y_gender, test_size=0.33, random_state=42)

In [40]:
X_train.shape[0], X_test.shape[0]

(6550, 3227)

In [41]:
model = SVC(kernel = 'linear', C=1.0, random_state=42)

In [ ]:
model.fit(X_train, y_train)

In [ ]:
y_pred_train = model.predict(X_train)

In [ ]:
print(f"accuracy: {accuracy_score(y_train, y_pred_train)}")
print(f"{classification_report(y_train, y_pred_train)}")

In [ ]:
y_pred_test = model.predict(X_test)
print(f"accuracy: {accuracy_score(y_test, y_pred_test)}")
print(f"{classification_report(y_test, y_pred_test)}"

In [ ]:
from io import BytesIO

In [11]:
model = keras.applications.VGG16()

Downloading data from https://storage.googleapis.com/tensorflow/keras-applications/vgg16/vgg16_weights_tf_dim_ordering_tf_kernels.h5
553467904/553467096 [==============================] - 3s 0us/step
553476096/553467096 [==============================] - 3s 0us/step